body {
  display: flex;
  flex-direction: column;
}

#sidebar {
  display: none;
  flex-direction: row;
}

.card {
  border-radius: 0;
  border-collapse: collapse;
  padding: 20px;
}

@media (min-width: 992px) {
  body {
    flex-direction: row;
  }

  .container {
    margin: 10px 220px;
    max-width: 800px;
  }

  #navbar {
    display: none;
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    height: 100%;
    width: 220px;
  }
}
